* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
}

body {
    background-color: #000000;
}

nav {
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

nav li p {
    font-size: 24px;
    font-weight: 800;
}

form input {
    padding: 6px;   
    color: #ffffff;
    background-color: #202020;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
}

button {
    background-color: #202020;
    border: 1px solid #4cAf50;
    color: #4cAf50;
    font-weight: 800;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #4cAf50;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 40px 40px;
}

.section {
    width: 90vw;
    margin: auto auto;
}

textarea {
    border-radius: 12px;
    display: block;
    width: 60vw;
    resize: none;
    margin: 10px 0px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #050505;
    font-weight: 500;
    border: 0.5px solid #ffffff;
}

.form input {
    padding: 10px;
    margin: 10px 0px;
    width: 30vw;
    font-size: 20px;
    background-color: #050505;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
}

/* Card CSS */
.note {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    width: 400px;
}

hr {
    margin: 10px 0px;    
}

.no-notes-section {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
